.flex-grow {
  flex-grow: 1;
}

.layout-row {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.layout-row-wrap {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.layout-column {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.layout-column-wrap {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
